.icon{
    display: inline-block;
    animation: float 5s ease-in-out infinite;
}

.icon-2{animation-delay: 2s;}
.icon-3{animation-delay: 1s;}
.icon-4{animation-delay: 3s;}

.icon-5{animation-delay: 1.5;}
.icon-6{animation-delay: 2.5;}
.icon-7{animation-delay: 3.5;}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}